.primary-color{
    -fx-background-color: #1F2937;
}

.secondary-color {
    -fx-background-color: white;
}

.primary-text{
    -fx-text-fill: white;
}

.toolbar-color {
    -fx-background-color: #000b18;
}

.context-box{
    -fx-background-color: #374457;
    -fx-border-radius: 14;
}

.secondary-button{
    -fx-background-color:  transparent;
    -fx-text-fill:white;
    -fx-border-color: white;
}

.secondary-button:hover{
    -fx-background-color: #626975;
    -fx-text-fill: white;
    -fx-border-color:#626975;
}

.tab-pane .tab-header-area {
    -fx-border-color: #374457;
    -fx-border-width: 0 0 1 0;
}

.tab-pane .tab{
    -fx-background-color: #1F2937;
    -fx-text-base-color: white;
}

.tab-pane .tab:selected{
    -fx-background-color: #374457;
    -fx-text-fill: white;
}

.scroll-bar:vertical {
    -fx-background-color: #1F2937;
}